section.section.section_flex
  .wrapper
    .section__pic-wrap
      picture.section__graph
        img(src="" alt="currency course")
      p.section__text.text.text_size_sm За последние 30 дней
      a(href="#" target="blank").btn.btn_color_clear.btn_sm Отслеживать этот обменный курс
    .section__text-wrap
      h2.section__title.title Мы предлагаем Вам честный обменный курс
      p.section__text.text
        != 'Каждый банк устанавливает свой обменный курс для извлечениянаибольшей выгоды. TransferWise конвертирует деньги по реальному <a href="#" target="blank" class="text__link">среднерыночному</a> обменному курсу. Мы гарантируем обменный курс, если Ваши деньги поступят на счет в течение 24 часов.' 
      
