footer.footer
  .wrapper 
    .footer__row
      .footer__col
        h4.footer__title Компания и наша команда
        ul.footer__list
          li.footer__list-item
            a(href="#").footer__link Компания и наша команда
          li.footer__list-item
            a(href="#").footer__link Новости и блог           
          li.footer__list-item
            a(href="#").footer__link Пресса о нас
          li.footer__list-item
            a(href="#").footer__link Вакансии
          li.footer__list-item 
            a(href="#").footer__link Партнерская программа
      .footer__col
        h4.footer__title Центр поддержки клиентов
        ul.footer__list
          li.footer__list-item
            a(href="#").footer__link Центр поддержки
          li.footer__list-item
            a(href="#").footer__link SWIFT и BIC        
          li.footer__list-item
            a(href="#").footer__link Конвертер валют
          li.footer__list-item
            a(href="#").footer__link Оповещения об изменении курса валют
          li.footer__list-item 
            a(href="#").footer__link Цены
      .footer__col
        h4.footer__title Мы в социальных сетях
        ul.footer__social
          li.footer__social-item
            a(href="#").footer__social-link
              +icon('fb', 'footer__social-icon')
          li.footer__social-item
            a(href="#").footer__social-link
              +icon('twitter', 'footer__social-icon') 
               
          
