section.section.section_flex.section_safe
  .wrapper
    .section__pic-wrap.section__pic-wrap_padding
      .safe
        .safe__pic-border-dot 
          .safe__pic-text-wrap-border-solid
            .safe__text-wrap
              span.safe__text.safe__text_sm Авторизованный
              span.safe__text.safe__text_main Надежный
              span.safe__text.safe__text_sm Безопасный
              +icon('shield', 'safe__text-icon')
          +icon('lock', 'safe__icon')
      
    .section__text-wrap
      h2.section__title.title.title_color_lighten Вы всегда знаете, где ваши деньги
      p.section__text.text
        != 'Мы будем держать вас в курсе кажого этапа перевода. Вы также можете следить за прогрессом пеервода через нащше <a href="#" target="blank" class="text__link">приложение</a> или сайт, где бы Вы ни находились'
