section.section.s-map
  .wrapper
    h2.section__title.title Нам доверяют по всему миру
    p.section__text.text Люди по всему миру выбирают TransferWise.
    p.section__text.text Мы переводим более 3 миллиардов каждый месяц и помогаем таким клиентам как Вы сэкономить миллионы фунтов.
    p.section__text.text 
      !='Приведенные ниже данные соответствуют переводам, сделанным через TransferWise. Мы помогаем экономить, используя данные, собранные независимой организацией <a href="#" target="blank" class="text__link">здесь</a>.'
    .s-map__map
      .map 
        .map__item.map__item_brazil
          .map__item-inner
            span.map__item-marker
            span.map__text 1221$ 10 дней назад
            span.map__text.map__text_dark 16,6$ сэкономлено
        .map__item.map__item_rus
          .map__item-inner
            span.map__item-marker 
            span.map__text 3009$ 10 дней назад
            span.map__text.map__text_dark 60$ сэкономлено
        .map__item.map__item_usa
          .map__item-inner
            span.map__item-marker
            span.map__text 10000$ 10 дней назад
            span.map__text.map__text_dark 393$ сэкономлено
    p.section__text.text
      != 'Мы предоставляем услуги в 71 и осуществляем оперции с более чем 1300 валютными маршрутами.  <a href="#" target="blank" class="text__link">Узнать больше о поддерживаемых валютах.</a><br>Мы постоянно добавляем новые валюты, помогая людям экономить на международных переводах.'
    
    ul.s-map__press.press 
      li.press__item.wired
        cite.press__cite 
          span.hidden-text Wired
        p.press__text.text Отличная идея и острый ум не дают банкам спать спокойно
      li.press__item.times 
        cite.press__cite 
          span.hidden-text Times
        p.press__text.text TransferWise собирается использовать интернет, чтобы начать революцию в мире финансовых услуг
      li.press__item.economist
        cite.press__cite 
          span.hidden-text Economist
        p.press__text.text Мачете TransferWise против непомерных сборов, взимаемых банками для международных переводов

      
    
