section.video
  h2.video__title.title.title_color_light Что говорят наши клиенты
  video(poster="static/img/content/testimonials-video-silent-poster.jpg" controls preload="none" loop).video__file
    source(src="static/video/testimonials-video.mp4" type="video/mp4")
