section.section-feedbacks
  .wrapper
    h2.section-feedbacks__title.title.title_color_light Рейтинг 5 из 5, 57211 отзывов на TrastPilot
    p.section-feedbacks__text.text.text_color_light
      != 'Не соглашайтесь на меньшее - это ведь Ваши деньги. Ознакомиться со всеми отзывами можно на <a href="#" target="blank">Trastpilot.com</a>'
    .section-feedbacks__slider.slider
      blockquote(cite="https://site.org").slider__item
          p.slider__title Bashbir Ltd, 11 minutes ago
          p.slider__text "It'excellent."
          .slider__rating
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
      blockquote(cite="https://site.org").slider__item
          p.slider__title Jenifer Keunzle, 13 minutes ago
          p.slider__text "Easy to use. Transparent relative to feels.Would use again"
          .slider__rating
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
      blockquote(cite="https://site.org").slider__item
          p.slider__title Fabio Castro, 14 minutes ago
          p.slider__text "Good Service"
          .slider__rating
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
            +icon('star', 'slider__rating-item')
    p.section-feedbacks__text.text.text_color_light
      !='Отывы на <a href="#" target="blank">Trustpilot</a>'
          
