header.header
  .wrapper.header__wrap
    +icon('logo', 'logo header__logo')
    nav.header__navbar
      ul.nav.header__nav
        li.nav__item
          button(type="button").nav__link Отправить деньги
        li.nav__item
          button(type="button").nav__link Получить деньги
        li.nav__item
          button(type="button").nav__link Дебетовая карта
        li.nav__item
          button(type="button").nav__link Бизнес
        li.nav__item
          button(type="button").nav__link Подробнее
      a(href="#").header__enter-btn Войти
      a(href="#").btn.btn_sm.header__btn Регистрация
    
      
