.mainScreen
  padding: 49px 0
  background-color: $mainColor
  color: #fff
  position: relative
  overflow: hidden
  @media screen and (max-width: 880px)
    padding-bottom: 100px
    & .tabs__btn-text
      display: none
  @media screen and (min-width: 1025px)
    &::before
      content: ''
      width: 50%
      height: 40%
      transform: skewX(141deg)
      background-color: lighten($mainColor, 5%)
      position: absolute
      left: -15%
      bottom: 0
      z-index: 1
    &::after
      content: ''
      width: 40%
      padding-top: 40%
      border-radius: 50%
      background-color: lighten($mainColor, 5%)
      position: absolute
      right: -2%
      bottom: -30%
  & .wrapper
    display: flex
    position: relative
    z-index: 2
    @media screen and (max-width: 880px)
      flex-direction: column
      padding-left: 0
      padding-right: 0
      align-items: center
      & > *
        width: 100%
  &__title
    font-size: 42px
    line-height: 56px
    font-weight: 600
    margin-bottom: 28px
    @media screen and (max-width: 880px)
      font-size: 25px
      line-height: 1.2
      text-align: center
  &__title-dot
    color: $accentColor
  &__text
    font-size: 16px
    line-height: 20px
    margin-bottom: 37px
    a
      font-weight: 600
      color: $accentColor
      text-decoration: underline
    @media screen and (max-width: 880px)
      display: none
  &__btn
    margin-bottom: 89px
    @media screen and (max-width: 880px)
      position: absolute
      bottom: -70px
      left: 50%
      transform: translateX(-50%)
      margin-bottom: 0
  &__promo
    display: flex
    flex-wrap: wrap
    padding: 33px 0
    justify-content: flex-start
    font-size: 18px
    line-height: 24px
    @media screen and (max-width: 880px)
      display: none
    & > *
      flex: 1 155px
      display: flex
      margin-right: 52px
      margin-bottom: 18px
    &-icon
      width: 42px
      height: 60px
      flex-shrink: 0
      margin-right: 14px
      float: left
      fill: #dbf4fe
    &-text
      color: #fff
      margin-top: 8px
    &-link
      color: $accentColor
      font-weight: 600
      text-decoration: underline
  &__form
    @media screen and (max-width: 880px)
      padding-left: 15px
      padding-right: 15px
  &__text-box
    width: 50%
    padding: 0 16px
    box-sizing: border-box
  &__transfer-box
    width: 50%
    max-width: 600px
    box-sizing: border-box
    border-radius: 3px
    box-shadow: $boxShadow
