body
  font-family: Arial, sans-serif
.wrapper
  width: 100%
  max-width: 1024px
  margin: 0 auto
  @media screen and (max-width: 1040px)
    padding-left: 16px
    padding-right: 16px
    box-sizing: border-box
.hidden-text
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden

.title
  font-size: 2em
  line-height: 1.2
  font-weight: 800
  color: $mainColorDarken
  @media screen and (max-width: 880px)
    font-size: 1.4em
  &_color
    &_lighten
      color: $accentColor
    &_light
      color: #fff

.text
  font-size: 16px
  font-weight: 500
  line-height: 1.4
  color: #829ca9
  &_size
    &_sm
      font-size: 14px
  &_color
    &_light
      color: #fff
  &__link
    font-weight: 600
    color: $accentColor
    text-decoration: underline

.btn
  display: inline-block
  min-height: 48px
  min-width: 200px
  padding: 12px 24px 10px
  box-sizing: border-box
  font-size: 16px
  font-weight: 600
  line-height: 24px
  text-align: center
  border-radius: 3px
  color: #fff
  transition: all .3s ease-in
  &_color
    &_clear
      border: 1px solid $accentColor
      color: $accentColor
      &:hover
        background-color: $accentColor
        color: #fff
    &_green
      background-color: $btnColor
      color: #fff
      &:hover
        background-color: darken($btnColor, 10%)
    &_blue
      background-color: $accentColor
      color: #fff
      &:hover
        background-color: darken($accentColor, 10%)
  &_sm
    min-height: 32px
    min-width: 100px
    padding: 4px 16px 2px
    font-size: 14px
    background-color: rgba(255,255,255,0.4)
    border-radius: 2px
    &:hover
      background-color: $mainColorDarken

.tabs
  display: flex
  &__item
    flex: 1
    text-align: center
    cursor: pointer
    &:not(:first-child)
      border-left: 1px solid #253655
  &-content-box
    min-height: 500px
    display: flex
    flex-direction: column
    & > *
      flex: 1

  &__icon
    width: 25px
    height: 25px
    display: block
    margin: 0 auto 9px
    fill: $accentColor
    &_rotate
      &_in
        transform: rotate(228deg)
      &_out
        transform: rotate(45deg)
  &__btn
    width: 100%
    height: 100%
    padding: 24px 12px
    box-sizing: border-box
    font-size: 16px
    color: #fff
    font-weight: 600
    background-color: $mainColorDarken
    transition: all .3s linear
    &:not(&_active):hover
      background-color: darken($mainColorDarken, 5%)
    &_active
      background-color: $mainColor
      & .tabs__icon
        fill: #fff
.tabs-content
  display: none
  height: 100%
  width: 100%
  padding: 40px
  padding-bottom: 28px
  box-sizing: border-box
  @media screen and (max-width: 880px)
    padding: 20px
  & > *
    margin-bottom: 24px
  &_active
    display: flex
    flex-direction: column
  &__title
    span
      font-weight: 400
  &__slider
    margin-top: 24px
  &__pic
    margin-top: 24px
    picture
      width: 40%
      display: block
      margin: 0 auto
      transform: rotate(-21deg)
      transform-origin: center
      img
        width: 100%
        height: auto


  &__controls
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: auto -12px 0
    &-item
      flex: 1 200px
      margin: 0 12px 12px
.currency-slider
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin-left: -8px
  margin-right: -8px
  &__item
    flex: 0 60px
    padding: 16px
    margin: 0 8px 16px
    border-radius: 3px
    text-align: center
    background-color: $mainColorDarken
  &__currency-name
    display: block
  &__icon
    width: 30px
    height: 30px
    display: inline-block
.form
  background-color: $mainColor
  &__group
    display: flex
    position: relative
  &__input
    $offsetHorisontal: 13px !global
    width: 100%
    padding: 38px $offsetHorisontal 10px
    margin-right: -1px
    flex: 2
    background-color: #fff
    border-top-left-radius: 3px
    border-bottom-left-radius: 3px
    font-size: 22px
    line-height: 32px
    color: $mainColorDarken
    border: 1px solid transparent
    transition: border .3s ease-in
    &:focus
      border-color: $accentColor
    &:focus~.form__choose-btn
      border-color: $accentColor
  &__label
    position: absolute
    top: 14px
    left: $offsetHorisontal
    font-size: 14px
    line-height: 20px
    color: #5d7079
  &__choose-btn
    flex: 1
    border: 1px solid transparent
    transition: border .3s ease-in
    padding: 25px
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px
    text-align: center
    background-color: $mainColorDarken
    height: 100%
    box-sizing: border-box
    white-space: nowrap
    @media screen and (max-width: 880px)
      padding-left: 15px
      padding-right: 15px
  &__choose-icon
    display: inline-block
    width: 25px
    height: 20px
    margin-right: 9px
    vertical-align: middle
  &__choose-text
    font-size: 20px
    line-height: 32px
    font-weight: 600
    color: #fff
    vertical-align: middle
  &__choose-currency
    position: absolute
    top: 0
    left: 0
    right: 0
    max-height: 400px
    box-sizing: border-box
    z-index: 200
    display: none
    .form__group_active &
        display: block
  &__list
    padding: 20px 0
    padding-left: 23px
    font-size: 16px
    color: #d3d5d8
    position: relative
    &::before
      content: ''
      height: 100%
      width: 2px
      background-color: $mainColorDarken
      position: absolute
      top: 0
      left: 11.5px
      z-index: 1
    &-item
      position: relative
      padding-left: 15px
      &:not(:last-child)
        margin-bottom: 20px
    &-icon
      $size: 23px
      display: inline-block
      width: $size
      height: $size
      line-height: 22px
      border-radius: 50%
      background-color: $mainColorDarken
      text-align: center
      color: #fff
      position: absolute
      left: -$size
      top: 50%
      margin-top: -$size/2
      z-index: 2
    &-sum
      margin-right: 18px
      &_bold
        color: #fff
        font-weight: 600
    &-text
      &_under
        border-bottom: 1px dotted $accentColor
    &-btn
      height: 31px
      line-height: 31px
      padding: 0 13px
      color: #fff
      border-radius: 2px
      background-color: $mainColorDarken
  &__date
    margin: 22px 0
    strong
      font-weight: 600

.choose-currency
  padding: 8px
  border-radius: 3px
  background-color: #fff
  box-shadow: $boxShadow
  overflow-y: auto
  &__input
    width: 100%
    padding: 13px 16px
    box-sizing: border-box
    font-size: 16px
    line-height: 24px
    border-bottom: 1px solid #f2f5f7
    color: $mainColorDarken
    border-radius: 3px
  &__title
    font-size: 14px
    line-height: 24px
    color: $mainColorDarken
    padding: 8px 16px

  &__item
    padding: 13px 16px
    font-weight: 400
    font-size: 14px
    line-height: 24px
    border-radius: 3px
    color: $mainColor
    transition: all .2s linear
    cursor: pointer
    &:not(&_chosen):focus,
    &:not(&_chosen):hover
      background-color: #f2f5f7
    &_chosen
      background-color: $mainColorDarken
      color: #fff
  &__icon
    @extend .form__choose-icon
    background-repeat: no-repeat
    background-size: cover
    background-position: center
.eur-icon
  background-image: url('../../static/svg/eur.svg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
.uah-icon
  background-image: url('../../static/svg/uah.svg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
.gbp-icon
  background-image: url('../../static/svg/gbp.svg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
.usd-icon
  background-image: url('../../static/svg/usd.svg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
